<div class="row" style="margin-bottom: 40px;" ng-controller="AccountSettingsCtrl">
  <div class="small-12 columns">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>

      <%= render "edit_org_section_on_account_settings" %>

      <%= render "connect_facebook" %>

      <%= render "upload_photo", :f => f %>

      <div class="row first-last-name">
        <div class="small-12 medium-6 columns">
          <div><%= f.label :first_name %>
          <%= f.text_field :first_name %></div>
        </div>
        <div class="small-12 medium-6 columns">
          <div><%= f.label :last_name %>
          <%= f.text_field :last_name %></div>
        </div>
      </div>

      <div><%= f.label :email %>
      <%= f.email_field :email %></div>

      <div><%= f.label :phone_number %>
      <%= f.text_field :phone_number %></div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div style="margin-bottom: 20px;">
        <a class="change-password-link">Change password</a>
      </div>

      <% if @has_cards %>
        <div style="margin-bottom: 20px;">
          <a class="change-card-link" ng-click="showCreditCardSection=!showCreditCardSection">Change credit card</a>
        </div>

        <div ng-show="showCreditCardSection">
          <%= render "edit_credit_card" %>
        </div>
      <% end %>

      <div class="change-password hide">
        <div><%= f.label :password %> <div style="font-size: 12px; margin-bottom: 10px;">(leave blank if you don't want to change it)</div>
        <%= f.password_field :password, :autocomplete => "off", :placeholder => "Minimum 8 characters" %></div>

        <div><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %></div>
      </div>

      <div><%= f.submit "Update", :class => "button alert" %></div>
    <% end %>

    <div style="margin-bottom: 20px; line-height: 25px;">
      <% if current_user.premium_and_valid? %>
        <i class="fa fa-heart" style="color: #EB7F00;"></i>
        <%= "Thank you! You are a Time Auction Supporter. This means any volunteer hours you do in the past year can be stored for later use." %>
      <% end %>
    </div>

    <%= render "unhappy" %>

    <%= link_to "Back", :back %>
  </div>
</div>