<div class="row">
  <div class="small-12 columns">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <div style="margin-bottom: 20px;">
        <%= render "layouts/alerts", :alert => devise_error_messages! %>
      </div>

      <% if current_user.uid.nil? %>
        <div style="margin-bottom: 20px;">
          <label>
            Connect your Facebook account
          </label>
          <%= render "layouts/facebook_link", :type => "connect" %>
        </div>
      <% end %>

      <div style="margin-bottom: 20px; line-height: 25px;">
        <% if current_user.premium_and_valid? %>
          <i class="fa fa-heart" style="color: #EB7F00;"></i>
          <%= "Thank you! You are a Time Auction Supporter. This means any volunteer hours you do will be tracked." %>
        <% else %>
          You currently have a General Account, which means you can only bid on General Rewards. To pledge to Supporter Rewards, you will need to upgrade your account.
          <div style="margin-top: 20px;">
            <a href="#" data-reveal-id="upgrade-account-modal" data-reveal class="button tiny non-auction-page-upgrade" onClick="_gaq.push(['_trackEvent', 'Upgrade', 'Edit account', 'User ID: <%= current_user.id %>']);">
              Upgrade
            </a>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="small-6 columns">
          <div><%= f.label :first_name %>
          <%= f.text_field :first_name %></div>
        </div>
        <div class="small-6 columns">
          <div><%= f.label :last_name %>
          <%= f.text_field :last_name %></div>
        </div>
      </div>

      <div><%= f.label :username %>
      <%= f.text_field :username %></div>

      <div><%= f.label :email %>
      <%= f.email_field :email %></div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div style="margin-bottom: 20px;">
        <a href="#" class="change-password-link">Change password</a>
      </div>

      <div class="change-password hide">
        <div><%= f.label :password %> <div style="font-size: 12px; margin-bottom: 10px;">(leave blank if you don't want to change it)</div>
        <%= f.password_field :password, :autocomplete => "off", :placeholder => "Minimum 8 characters" %></div>

        <div><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %></div>
      </div>

      <!-- <div><%= f.label :current_password %> <div style="font-size: 12px; margin-bottom: 10px;">(we need your current password if you are changing your password or email)</div>
      <%= f.password_field :current_password, :autofocus => true %></div> -->

      <div><%= f.submit "Update", :class => "button tiny" %></div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "button tiny alert" %></p>

    <%= link_to "Back", :back %>
  </div>
</div>