<div class="row">
  <div class="small-12 columns">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= render "layouts/alerts", :alert => devise_error_messages! %>

      <div><%= f.label :username %><br />
      <%= f.text_field :username %></div>

      <div><%= f.label :email %>
      <%= f.email_field :email %></div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div style="margin-bottom: 20px;">
        <a href="#" class="change-password-link">Change password</a>
      </div>

      <div class="change-password hide">
        <div><%= f.label :password %> <div style="font-size: 12px; margin-bottom: 10px;">(leave blank if you don't want to change it)</div>
        <%= f.password_field :password, :autocomplete => "off", :placeholder => "Minimum 8 characters" %></div>

        <div><%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %></div>
      </div>

      <div><%= f.label :current_password %> <div style="font-size: 12px; margin-bottom: 10px;">(we need your current password to confirm your changes)</div>
      <%= f.password_field :current_password, :autofocus => true %></div>

      <div><%= f.submit "Update", :class => "button tiny" %></div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => "button tiny alert" %></p>

    <%= link_to "Back", :back %>
  </div>
</div>