<div class="row">
  <div class="small-12 columns">
    <h2>Sign up</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <% flash[:alert] = devise_error_messages! %>

      <!-- <div><%= f.label :username %><br />
      <%= f.text_field :username %></div> -->

      <div><%= f.label :first_name %><br />
      <%= f.text_field :first_name %></div>

      <div><%= f.label :last_name %><br />
      <%= f.text_field :last_name %></div>

      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password, :placeholder => "Minimum 8 characters" %></div>

      <!-- <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div> -->

      <div class="hide-for-small-only devise-signup-button-holder">
        <%= f.submit "Sign up", :class => "button tiny sign-up-button" %>
        <span style="margin: 0 10px;">
          - or -
        </span>
        <span>
          <%= render "layouts/facebook_link", :type => "signup" %><br />
        </span>
      </div>

      <div class="hide-for-medium-up">
        <%= f.submit "Sign up", :class => "button tiny make-square-button sign-up-button" %>
        <div style="margin-bottom: 20px;">
          <%= render "layouts/facebook_link", :type => "signup" %><br />
        </div>
      </div>
      
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>