<div class="row">
  <div class="small-12 columns">
    <h2>Sign up</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= render "layouts/alerts", :alert => devise_error_messages! %>

      <div class="row">
        <div class="small-6 columns">
          <%= f.label :first_name %>
          <%= f.text_field :first_name %>
        </div>
        <div class="small-6 columns">
          <%= f.label :last_name %>
          <%= f.text_field :last_name %>
        </div>
      </div>

      <div><%= f.label :email %><br />
      <%= f.email_field :email %></div>

      <div><%= f.label :password %><br />
      <%= f.password_field :password, :placeholder => "Minimum 8 characters" %></div>

      <!-- <div><%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation %></div> -->

      <div><%= f.submit "Sign up", :class => "button tiny" %></div>
    <% end %>

    <div style="margin-bottom: 20px;">
      <%= render "layouts/facebook_link", :type => "signup" %><br />
    </div>

    <%= render "devise/shared/links" %>
  </div>
</div>