<!DOCTYPE html>
<html lang="en">
  <head>
    <%= favicon_link_tag %>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <% 
      title = "Time Auction ⋅ What Money Can't Buy"
      description = "Time Auction allows you to bid on rewards using volunteer hours, not money.  We believe volunteerism can improve our communities and we try to make it more enticing to do so."
    %>

    <% meta :title => title, :description => description, :keywords => %w(time auction volunteer) %>

    <% 
      meta [:property => "og:url", :content => "http://www.timeauction.org/"]
      meta [:property => "og:title", :content => title]
      meta [:property => "og:description", :content => description]
      meta [:property => "og:image", :content => "https://s3-us-west-2.amazonaws.com/timeauction/nicaragua_volunteering.jpg"]
      meta [:property => "og:type", :content => "website"]
      meta [:property => "fb:admins", :content => "81007543"]
      if Rails.env.production?
        meta [:property => "fb:app_id", :content => "181828865198482"]
      else
        meta [:property => "fb:app_id", :content => "566747186753474"]
      end
    %>

    <%= metamagic %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="wrap">
      
      <%= render "layouts/nav", :content => yield %>
      <!--[if IE 9]>
        <script>
          (function ( $ ) {
            console.log("Gonna remove this shit");
            $(".left-off-canvas-menu").remove();
          }( jQuery ));
        </script>
      <![endif]-->

      <%= render "layouts/facebook" %>
      <%= render "layouts/google_analytics" %>
      <%= render "layouts/twitter" %>

      <%= javascript_include_tag "application" %>

      <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

      <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/cupertino/jquery-ui.min.css" %>

    </div>
    <%= render "layouts/footer" %>
  </body>
</html>