<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <% 
      title = "Time Auction ⋅ What Money Can't Buy"
      description = "Time Auction allows you to bid on rewards using volunteer hours, not money.  We believe volunteerism can improve our communities and we try to make it more enticing to do so."
    %>

    <% meta :title => title, :description => description, :keywords => %w(time auction volunteer) %>

    <% 
      meta [:property => "og:url", :content => "http://www.timeauction.org/"]
      meta [:property => "og:title", :content => title]
      meta [:property => "og:description", :content => description]
      meta [:property => "og:image", :content => "https://s3-us-west-2.amazonaws.com/timeauction/nicaragua_volunteering.jpg"]
      meta [:property => "og:type", :content => "website"]
      meta [:property => "fb:admins", :content => "81007543"]
      if Rails.env.production?
        meta [:property => "fb:app_id", :content => "181828865198482"]
      else
        meta [:property => "fb:app_id", :content => "566747186753474"]
      end
    %>

    <%= metamagic %>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>

    <!-- Google -->

    <% if Rails.env.production? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-4320795-6', 'timeauction.org');
        ga('send', 'pageview');

      </script>

      <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-4320795-6']);
        _gaq.push(['_trackPageview']);
        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true; 

        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';

        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
    <% end %>
  </head>

  <body>
    <div id="wrap">
      
      <%= render "layouts/nav", :content => yield %>
      <div id="fb-root"></div>

      <!-- Facebook -->

      <% if Rails.env.production? %>
        <div id="fb-root"></div>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=181828865198482";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
      <% else %>
        <script>(function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=566747186753474";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
      <% end %>

      

      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

      <%= javascript_include_tag "application" %>

      <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

      <%= stylesheet_link_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/themes/cupertino/jquery-ui.min.css" %>

    </div>
    <%= render "layouts/footer" %>
  </body>
</html>